.display-input {
    float: center !important;
}

.align-right {
    float: right !important;
}

.card-header-add {
    text-align: right;
}

.card-header-add2 {
    text-align: left;
}

.card-header-add3 {
    text-align: center;
}

.material-icons {
    font-size: 35px !important;
}

.material-icons2 {
    font-size: 10px !important;
}

.material-icons3 {
    font-size: 20px !important;
}

.card-title2 {
    font-size: 25px;
    font-weight: bold;
}

.card-title23 {
    font-size: 20px;
    font-weight: bold;
}

.spacer {
    margin-top: 10px !important;
}

.example-tab-icon {
    font-size: 20px !important;
    padding-right: 10px !important;
}

.header2 {
    font-size: 10px;
}

.header3 {
    font-size: 15px;
    font-weight: bold;
}

.col-pad {
    padding: 15px;
}

.example-tab-icon202 {
    padding: 0px;
    font-size: 20px !important;
    float: right;
}

.right {
    font-weight: 100;
    float: right !important;
    font-size: 10px !important;
}

mat-chip {
    font-size: 10px !important;
    font-weight: bold !important;
}