
/* Added CSS */

.align-right {
    float: right !important;
}

.card-header-add {
    text-align: right;
}

.card-header-add2 {
    text-align: left;
}

.card-header-add3 {
    text-align: center;
}

mat-chip {
    font-size: 10px !important;
    font-weight: bold !important;
}

.iconic {
    font-size: 20px !important;
}

.cover {
    padding: 15px !important;
}