
<div *ngIf="!loading" class=" content">
    <div class=" row">
      <div class=" col-md-8">
        <div class=" card">
          <div class=" card-header"><h5 class=" title">MANAGE ADMIN</h5></div>
          <hr/>
          <div class=" card-body">
              <div class=" row">
                <div class=" col-md-4">
                  <div class=" form-group">
                    <label> User ID </label>
                    <input
                      class=" form-control"
                      disabled
                      placeholder="User ID"
                      type="text"
                      [(ngModel)]="admin.user_id"
                    />
                  </div>
                </div>
                <div class=" col-md-4">
                  <div class=" form-group">
                    <label> Role</label>
                    <input
                      class=" form-control"
                      placeholder="Role"
                      type="text"
                      disabled
                      [(ngModel)]="admin.role"
                    />
                  </div>
                </div>
              </div>


              <div class=" row">
                <div class=" col-md-4">
                  <div class=" form-group">
                    <label> First Name </label>
                    <input
                      class=" form-control"
                      placeholder="First Name"
                      type="text"
                      [(ngModel)]="admin.first_name"
                    />
                  </div>
                </div>
                <div class=" col-md-4">
                  <div class=" form-group">
                    <label> Last Name </label>
                    <input
                      class=" form-control"
                      placeholder="Last Name"
                      type="text"
                      [(ngModel)]="admin.last_name"
                    />
                  </div>
                </div>
                <div class=" col-md-4">
                  <div class=" form-group">
                    <label> Display Name </label>
                    <input
                      class=" form-control"
                      placeholder="Display Name"
                      type="text"
                      [(ngModel)]="admin.display_name"
                    />
                  </div>
                </div>
              </div>


              <div class=" row">
                <div class=" col-md-4">
                  <div class=" form-group">
                    <label> Email </label>
                    <input
                      class=" form-control"
                      placeholder="Email"
                      type="text"
                      [(ngModel)]="admin.email"
                    />
                  </div>
                </div>
                <div class=" col-md-4">
                  <div class=" form-group">
                    <label> Phone </label>
                    <input
                      class=" form-control"
                      placeholder="Last Name"
                      type="text"
                      [(ngModel)]="admin.phone"
                    />
                  </div>
                </div>
                <div class=" col-md-4">
                  <div class=" form-group">
                    <label> Password </label>
                    <input
                      class=" form-control"
                      placeholder="Password"
                      type="text"
                      [(ngModel)]="admin.password"
                    />
                  </div>
                </div>
              </div>

              <div class=" row">
                <div class=" col-md-4">
                  <div class=" form-group">
                    <label> Address </label>
                    <input
                      class=" form-control"
                      placeholder="Address"
                      type="text"
                      [(ngModel)]="admin.address"
                    />
                  </div>
                </div>
                <div class=" col-md-4">
                  <div class=" form-group">
                    <label> City </label>
                    <input
                      class=" form-control"
                      placeholder="City"
                      type="text"
                      [(ngModel)]="admin.city"
                    />
                  </div>
                </div>
                <div class=" col-md-4">
                  <div class=" form-group">
                    <label> State </label>
                    <input
                      class=" form-control"
                      placeholder="State"
                      type="text"
                      [(ngModel)]="admin.state"
                    />
                  </div>
                </div>
              </div>

              <div class=" row">
                <div class=" col-md-6">
                  <div class=" form-group">
                    <label> Status </label>
                    <input
                      class=" form-control"
                      placeholder="Status"
                      type="text"
                      disabled
                      [(ngModel)]="admin.status"
                    />
                  </div>
                </div>
                <div class=" col-md-6">
                  <div class=" form-group">
                    <label> Remarks </label>
                    <input
                      class=" form-control"
                      placeholder="Status Reason"
                      type="text"
                      [(ngModel)]="admin.status_reason"
                    />
                  </div>
                </div>
              </div>

              <div class=" row">
                <div class=" col-md-4">
                  <div class=" form-group">
                    <label> Last Login Date </label>
                    <input
                      class=" form-control"
                      placeholder="Last Login Date"
                      type="text"
                      disabled
                      [(ngModel)]="admin.last_login_date"
                    />
                  </div>
                </div>
                <div class=" col-md-4">
                  <div class=" form-group">
                    <label> Last Updated </label>
                    <input
                      class=" form-control"
                      placeholder="Last Updated"
                      type="text"
                      disabled
                      [(ngModel)]="admin.updatedAt"
                    />
                  </div>
                </div>
                <div class=" col-md-4">
                  <div class=" form-group">
                    <label> Date of Registration </label>
                    <input
                      class=" form-control"
                      placeholder="Date of Registration"
                      type="text"
                      disabled
                      [(ngModel)]="admin.sign_up_date"
                    />
                  </div>
                </div>
              </div>
          </div>
          <div class=" card-footer">
            <button (click)="submit()" class=" btn btn-fill btn-danger" type="submit">Proceed</button>
          </div>
        </div>
      </div>
      <div class=" col-md-4">
        <div class=" card card-user">
          <div class=" card-body">
            <p class=" card-text"></p>
            <div class=" author">
              <div class=" block block-one"></div>
              <div class=" block block-two"></div>
              <div class=" block block-three"></div>
              <div class=" block block-four"></div>
              <a href="javascript:void(0)">
                <img alt="..." class=" avatar" src="{{admin.avatar}}" />
  
                <h5 class=" title">{{admin.email}}</h5>
              </a>
              <p class=" description"> {{admin.first_name}} {{admin.last_name}} </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  

<app-loader *ngIf="loading"></app-loader>