/* You can add global styles to this file, and also import other style files */
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
  
html, body { height: 100%; }

body { margin: 0; font-family: url(./assets/font/Josefin_Sans/JosefinSans-Regular.ttf) sans-serif !important;  } // Roboto, "Helvetica Neue", sans-serif; }

.bold {
    font-weight: bold !important;
}

.spacer {
    margin-top: 20px;
}

.right-rt2 {
    margin-right: -40px;
}

hr {
    margin: 5px 0;
    border: 1px solid grey !important;
}

.green {
    color: green;
}

.red {
    color: red;
}